img {
  /* object-fit: cover; */
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: 50%;
}

.bordered {
  /* padding: 10px; */
  border: 2px solid white;
}

.profile {
  padding: 28.5px;
}
