.playlistItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlistMeta {
  margin-top: 15.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
