.trackItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
  /* padding: 0px 15px; */
}

.trackItemLeft {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.trackMeta {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 4px;
}

.trackItemRight {
  padding-bottom: 4px;
}
