#topArtistsContainer {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#topArtistsDiv {
  width: 100%;
  max-width: 78%;
  padding: 70px 0px;

  /* margin-left: 82px; */
  display: flex;
  flex-direction: column;
}

#topArtistsBody {
  margin-top: 20px;
  display: flex;
}
