.header-button-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  min-width: 280px;
}

.row {
  width: 100%;
}

.col {
  flex-direction: column;
  gap: 24.5px;
}
