.filterBarContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filterBarTabs {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.filterBarCol {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
}
