.toolbar-tab-cont {
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-right: 15px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-left: 4px solid transparent;
  width: 83px;
  text-transform: capitalize;
  cursor: pointer;
}
.toolbar-tab-cont img {
  filter: invert(50%);
}

.selectedToolbarTab {
  border-left: 5.5px solid;
}

.selectedToolbarTab img {
  filter: invert(100%);
}
