.toolbar-tab-cont {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 12px;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border-left: 4px solid transparent;
  width: 70px;
  text-transform: capitalize;
}
.toolbar-tab-cont img {
  filter: invert(50%);
}

.selectedToolbarTab {
  border-left: 4px solid;
}

.selectedToolbarTab img {
  filter: invert(100%);
}
