.fullPaneToolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100vh;
  padding: 20px 0px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
