#recentContainer {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#recentDiv {
  display: flex;
  flex-direction: column;
  padding: 70px 0px;
  /* margin-top: 71px; */

  width: 100%;
  max-width: 65%;
  gap: 37px;
}
