#recentContainer {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#recentDiv {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-left: 88px;
  width: 100%;
  max-width: 990px;
  gap: 30px;
}
