.artistItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistItemRow {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  gap: 7px;
}

.artistItemCol {
  flex-direction: column;
  padding: 10px !important;
}
